div.form__wrapper
  form(class="form", action="/post", method="post")
    input(type="text", 
    aria-label="add your to do item", name="todo", autofocus, autocomplete="off"
    class="form__input", id="todo"
    placeholder="add your to do item")
    button(type="submit", class="form__submit-button" aria-label="Submit")
    p.notify