div.form__wrapper
  form(class="form", action="/", method='')
    input(type="text", 
    aria-label="add your to do item", name="todo-input", 
    class="form__input", 
    placeholder="add your to do item")
    button(type="" class="form__submit-button" aria-label="Submit") 