div.list__wrapper
  ol.list
    each val in list
      li.list__item 
        span.list__content
          img(src="../../assets/images/mushroom.png", width="20", alt="mushroom pic")
          span=val.textValue
        span.list__buttons
          a(href=`/${val.id}`, class="list__edit")
            include edit-btn
          a(href="/", data-id=val.id,  class="list__delete")  
            include del-btn