<!DOCTYPE html>
html(lang="en")
  include includes/head
  body.edit
    include includes/edit-header
    main.edit
      include includes/edit-form
    include includes/edit-footer
    script(src="/js/edit.js")
    