<!DOCTYPE html>
html(lang="en")
  include includes/head
  body
    include includes/header
    main
      include includes/form
      include includes/list
    include includes/footer
    script(src="../js/app.js")
    